button {
  width: 125px;
}

body {
  background: #FFE3B2;
}

.jumbotron {
  background: #F2B63A
}

h1 {
  text-align: center;
}

.pies {
  cursor: pointer;
  color: #0088cc;
}

.pies:hover {
  text-decoration: underline;
}
